.col-fix{
	max-width: 48% !important;
	margin-right: 0px !important;
}


.login_wrap{
	position: relative;
	height: 100vh;


	.bg_img{
		width: 60%;
		height: 100vh;
		// background-color: black;
		transform: skewX($angle);
		right: -13%;
		
		z-index: -1;
		position: fixed;
    overflow: hidden;
			
		&:before{
			content: "";
			transform: skewX($revangle);
			background-image: url("./images/loginbg.png");
			background-repeat: no-repeat; 
    		background-position: top left;
    		background-size: 100%;
    		width: 100%;
    		height: 200%;
    		position: absolute;
    		top:0;
    		right: 0;
    		left: 0;
    		bottom: 0;
    		// background-position: top left; 

		}

		
	}


	.top_bar{
		display: flex;
		padding: 20px 0px;
		justify-content: space-between;
		a{
			margin-top: 10px;
			color: $white;
			position: fixed;
			
			right: 5%;
			i{
				vertical-align: bottom;
				font-size: 1.4em;
			}
		}

	}



}





.frm_content_wrap{
	display: flex;
	justify-content: space-between;

	.form_wrap{
		width: 35%;
		// overflow: scroll;
		margin-bottom: 3rem;
		margin-top: 3rem;
		h3{
			color: $grey_dark;
		}
	}

	.info_content{
		margin-top: 3rem;
		width: 40%;
		position: fixed;
		right: 0;

		h1{
			text-align: left;
			color: $white;
		}
	}

	.action_links{
		text-align: center;
		.bttn{
			margin-top: 5px;
		}
		p{
			color: $grey_dark;
		}

	}

	form{
		margin-top: 2rem;
	}

}

.carousel_bg{
	position: absolute;
}

.my_carousel{
	left: 5%;
    width: 130%;
    margin-top: -20px;
    &_text{
    	margin-left: 4em;
    }
	.carousel-control-prev{
		i{
			margin-right: 100px;
		}
	}
	.carousel-control-next{
		i{
			margin-left: 100px;
		}
	}
}


.carousel_wrap{
	
	bottom: 95px;
	img{
	width: 730px;
    height: 104%;
    position: relative;
    object-fit: contain;



		
	}
	.content{
		margin-top: 10px;
		width: 80%;

	}
	.subhead_text{
		color: $white;
		opacity: 0.9;
		height: 40px;
	}
}


.my_indicators{
	margin: 0px;
	bottom: -20px;
	right: inherit;
	li{
		width: 5px;
		height: 5px;
		margin-right: 5px;
		margin-left: 5px;
		border-radius: 20px;
		border: none;
	}
}
















