@media only screen and (max-width: 600px){


	.frm_content_wrap .form_wrap{
		width: 100%;
	}


	.login_wrap .bg_img{
		display: none;
	}


	.frm_content_wrap .info_content{
		display: none;
	}

	.login_wrap .top_bar a{
		color: $grey_main;
		margin-top: 5px;
		position: absolute;
	}

	.frm_content_wrap form{
		margin-top: 1rem;
	}

	.field{
		margin: 12px 0px;
	}

	.frm_content_wrap .form_wrap{
		margin-top: 2rem;
	}




























}