$primary_pink: #F71454;
$gradient_pink: linear-gradient(to right, #F71454 0%, #BF0539 100%);
$white: #ffffff;

$grey_main: #B7B7B7;
$grey_light_1: #F5F5F5;
$grey_light_2:#E5E5E5;
$grey_dark:#767676;
$black:#1F1F1F;

$success: #32BA00;
$warning: #FFBC05;
$error: #FC5435;
$info: #2280FF;




// Angle

$angle: -10.5deg;
$revangle: 10.5deg;


// Ease

.ease5{
	transition: all 0.5s ease;
}


// Elevation

.shadow{
	box-shadow: 1px 2px 3px #00000029;
}




// Typography


.large_text{font-size: 38px;font-weight:700;}
.big_text{font-size: 28px;font-weight: 400;}
.head_text{font-size: 18px;font-weight: 700;}
.subhead_text{font-size: 14px;font-weight:400;}
.subhead_bold_text{font-size: 14px;font-weight:700;}
.subhead_link_text{font-size: 14px;font-weight:400; text-decoration: underline;}
.subhead_italic_text{font-size: 14px;font-weight:400; font-style: italic;}
.small_text{font-size: 12px;font-weight: 400;}
.micro_text{font-size: 10px;font-weight: 400;}

.p_link{color: $primary_pink; font-weight: 700;
&:hover{
	color: $primary_pink;
}}

.primary_link{
	text-decoration: underline;
	color: $primary_pink;
}




// Messages

.msg{
	@extend .subhead_text;

	i{
		font-size: inherit;
		vertical-align: -2px;
		margin: 0px 2px;
	}
	&_error{
		@extend .msg;
		color: $error;

	}
}

.hide{visibility: hidden;}
.show{visibility: visible;}


// Reset

i{
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6
{
font-size: 100%;
}

a{
	color: inherit;
	&:hover{
		color: inherit;
	}

}


body{
	font-family: 'DM Sans', sans-serif;
	line-height: 1;
	margin: 0px;
}


.flex{
	display: flex;
}


html{
	overflow-x: hidden;
}


::placeholder{
	color: $grey_main;
}



.field{

	margin: 15px 0px;
	display: flex;
	justify-content: space-between;

	.col{
		margin-right: 10px;
	}

	.col:last-child{
		margin-right: 0px;
	}


	.md-checkbox{
		label{
			color: $black;
		}
	}

	input, textarea{
		border: 2px solid $grey_main;
		padding: 10px;
		width: 100%;
		&:focus{
			outline: none;
			border: 2px solid $grey_dark;

		}
	}



	label{
		color: $grey_main;
	}
	

}



// buttons

.bttn{
	
	padding: 15px 15px;
	text-align: center;
	@extend .subhead_bold_text, .ease5;
	&:hover{
		box-shadow: none;
		opacity: 0.9;
		text-decoration: none;
		color: inherit;
	}

	&_full_w{
		width: 100%;
	}

	&_pink{
		background-color: $primary_pink;
		color: $white;
		border: none;
		@extend .shadow;
		&:hover{
				color: $white;
				
			}
	}
	&_pink_inv{
			background-color: $white;
			border: 2px solid $primary_pink;
			color: $primary_pink;
			box-shadow: none;
			padding: 13px 15px !important;
			&:hover{
				color: $primary_pink;
				opacity: 0.7;
			}
		}

}




// checkbox

$md-checkbox-checked-color: $primary_pink;
$md-checkbox-border-color: $grey_main;
$md-checkbox-border-color-disabled: $grey_light_1;
$md-checkbox-checked-color-disabled: $grey_light_1;

$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: $white;
$md-checkbox-label-padding: .75em;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;

  &.md-checkbox-inline {
    display: inline-block;
  }
  
  label {
    cursor: pointer;
    display: inline;
    line-height: $md-checkbox-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: $md-checkbox-label-padding;
    }
    
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }
    
    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: $md-checkbox-border-width solid $md-checkbox-border-color;
      border-radius: $md-checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: $md-checkbox-size;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
       + label:before{
        background: $md-checkbox-checked-color;
        border:none;
      }
      + label:after {
        
        $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

        transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;
        
        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      } 
    }
    
    &:disabled {
      + label:before{
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
 
}





























