.ease5, .bttn {
  transition: all 0.5s ease; }

.shadow, .bttn_pink {
  box-shadow: 1px 2px 3px #00000029; }

.large_text {
  font-size: 38px;
  font-weight: 700; }

.big_text {
  font-size: 28px;
  font-weight: 400; }

.head_text {
  font-size: 18px;
  font-weight: 700; }

.subhead_text, .msg, .msg_error {
  font-size: 14px;
  font-weight: 400; }

.subhead_bold_text, .bttn {
  font-size: 14px;
  font-weight: 700; }

.subhead_link_text {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline; }

.subhead_italic_text {
  font-size: 14px;
  font-weight: 400;
  font-style: italic; }

.small_text {
  font-size: 12px;
  font-weight: 400; }

.micro_text {
  font-size: 10px;
  font-weight: 400; }

.p_link {
  color: #F71454;
  font-weight: 700; }
  .p_link:hover {
    color: #F71454; }

.primary_link {
  text-decoration: underline;
  color: #F71454; }

.msg i, .msg_error i {
  font-size: inherit;
  vertical-align: -2px;
  margin: 0px 2px; }
.msg_error {
  color: #FC5435; }

.hide {
  visibility: hidden; }

.show {
  visibility: visible; }

i {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }

body {
  font-family: 'DM Sans', sans-serif;
  line-height: 1;
  margin: 0px; }

.flex {
  display: flex; }

html {
  overflow-x: hidden; }

::placeholder {
  color: #B7B7B7; }

.field {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between; }
  .field .col {
    margin-right: 10px; }
  .field .col:last-child {
    margin-right: 0px; }
  .field .md-checkbox label {
    color: #1F1F1F; }
  .field input, .field textarea {
    border: 2px solid #B7B7B7;
    padding: 10px;
    width: 100%; }
    .field input:focus, .field textarea:focus {
      outline: none;
      border: 2px solid #767676; }
  .field label {
    color: #B7B7B7; }

.bttn {
  padding: 15px 15px;
  text-align: center; }
  .bttn:hover {
    box-shadow: none;
    opacity: 0.9;
    text-decoration: none;
    color: inherit; }
  .bttn_full_w {
    width: 100%; }
  .bttn_pink {
    background-color: #F71454;
    color: #ffffff;
    border: none; }
    .bttn_pink:hover {
      color: #ffffff; }
  .bttn_pink_inv {
    background-color: #ffffff;
    border: 2px solid #F71454;
    color: #F71454;
    box-shadow: none;
    padding: 13px 15px !important; }
    .bttn_pink_inv:hover {
      color: #F71454;
      opacity: 0.7; }

.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left; }
  .md-checkbox.md-checkbox-inline {
    display: inline-block; }
  .md-checkbox label {
    cursor: pointer;
    display: inline;
    line-height: 1.25em;
    vertical-align: top;
    clear: both;
    padding-left: 1px; }
    .md-checkbox label:not(:empty) {
      padding-left: 0.75em; }
    .md-checkbox label:before, .md-checkbox label:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0; }
    .md-checkbox label:before {
      width: 1.25em;
      height: 1.25em;
      background: #fff;
      border: 2px solid #B7B7B7;
      border-radius: 0.125em;
      cursor: pointer;
      transition: background .3s; }
  .md-checkbox input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: 1.25em;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit; }
    .md-checkbox input[type="checkbox"]:checked + label:before {
      background: #F71454;
      border: none; }
    .md-checkbox input[type="checkbox"]:checked + label:after {
      transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
      width: 0.75em;
      height: 0.375em;
      border: 0.125em solid #ffffff;
      border-top-style: none;
      border-right-style: none; }
    .md-checkbox input[type="checkbox"]:disabled + label:before {
      border-color: #F5F5F5; }
    .md-checkbox input[type="checkbox"]:disabled:checked + label:before {
      background: #F5F5F5; }

.col-fix {
  max-width: 48% !important;
  margin-right: 0px !important; }

.login_wrap {
  position: relative;
  height: 100vh; }
  .login_wrap .bg_img {
    width: 60%;
    height: 100vh;
    transform: skewX(-10.5deg);
    right: -13%;
    z-index: -1;
    position: fixed;
    overflow: hidden; }
    .login_wrap .bg_img:before {
      content: "";
      transform: skewX(10.5deg);
      background-image: url("./images/loginbg.png");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 100%;
      width: 100%;
      height: 200%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; }
  .login_wrap .top_bar {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between; }
    .login_wrap .top_bar a {
      margin-top: 10px;
      color: #ffffff;
      position: fixed;
      right: 5%; }
      .login_wrap .top_bar a i {
        vertical-align: bottom;
        font-size: 1.4em; }

.frm_content_wrap {
  display: flex;
  justify-content: space-between; }
  .frm_content_wrap .form_wrap {
    width: 35%;
    margin-bottom: 3rem;
    margin-top: 3rem; }
    .frm_content_wrap .form_wrap h3 {
      color: #767676; }
  .frm_content_wrap .info_content {
    margin-top: 3rem;
    width: 40%;
    position: fixed;
    right: 0; }
    .frm_content_wrap .info_content h1 {
      text-align: left;
      color: #ffffff; }
  .frm_content_wrap .action_links {
    text-align: center; }
    .frm_content_wrap .action_links .bttn {
      margin-top: 5px; }
    .frm_content_wrap .action_links p {
      color: #767676; }
  .frm_content_wrap form {
    margin-top: 2rem; }

.carousel_bg {
  position: absolute; }

.my_carousel {
  left: 5%;
  width: 130%;
  margin-top: -20px; }
  .my_carousel_text {
    margin-left: 4em; }
  .my_carousel .carousel-control-prev i {
    margin-right: 100px; }
  .my_carousel .carousel-control-next i {
    margin-left: 100px; }

.carousel_wrap {
  bottom: 95px; }
  .carousel_wrap img {
    width: 730px;
    height: 104%;
    position: relative;
    object-fit: contain; }
  .carousel_wrap .content {
    margin-top: 10px;
    width: 80%; }
  .carousel_wrap .subhead_text, .carousel_wrap .msg, .carousel_wrap .msg_error {
    color: #ffffff;
    opacity: 0.9;
    height: 40px; }

.my_indicators {
  margin: 0px;
  bottom: -20px;
  right: inherit; }
  .my_indicators li {
    width: 5px;
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 20px;
    border: none; }

@media only screen and (max-width: 600px) {
  .frm_content_wrap .form_wrap {
    width: 100%; }

  .login_wrap .bg_img {
    display: none; }

  .frm_content_wrap .info_content {
    display: none; }

  .login_wrap .top_bar a {
    color: #B7B7B7;
    margin-top: 5px;
    position: absolute; }

  .frm_content_wrap form {
    margin-top: 1rem; }

  .field {
    margin: 12px 0px; }

  .frm_content_wrap .form_wrap {
    margin-top: 2rem; } }

/*# sourceMappingURL=style.css.map */
